In [2]:
import os
import glob
import pandas as pd
import numpy as np

In [35]:
df = pd.concat([pd.read_csv(file_) for file_ in glob.glob(os.path.join('../data/', '*'))], ignore_index=True)

### The Data

In [37]:
df.head().T

,1561986,1561987,1561988,1561989,1561990
year,2022,2022,2022,2022,2022
ocid,ocds-5wno2w-COTO-GADMCH-002-2022-43412,ocds-5wno2w-LICS-CZ3-HBA-001-202-121258,ocds-5wno2w-RE1-RA-GADCC-004-202-45403,ocds-5wno2w-RE-CEP-GZAR-01-2022-31595,ocds-5wno2w-RE-CSCD-EEASA-063-22-3233
date,2022-07-21T08:26:55-05:00,2022-06-24T07:29:04-05:00,2022-06-09T07:08:43-05:00,2022-07-15T08:34:31-05:00,2022-08-03T08:28:03-05:00
region,MANABI,CHIMBORAZO,LOJA,EL ORO,TUNGURAHUA
title,COTO-GADMCH-002-2022-43412,LICS-CZ3-HBA-001-202-121258,RE1-RA-GADCC-004-202-45403,RE-CEP-GZAR-01-2022-31595,RE-CSCD-EEASA-063-22-3233
description,RECONSTRUCCION DEL PARQUE DEL PADRE Y CONSTRU...,CONTRATACIÓN DEL SERVICIO DE PÓLIZAS DE SEGUR...,ADQUISICION DE REPUESTOS MENORES PARA EL ARRE...,TRABAJOS DE REMEDIACIÓN SUPERFICIAL Y DE GALE...,SERVICIOS DE COMUNICACIÓN Y DIFUSIÓN DEL ACCI...
method,open,open,direct,direct,direct
suppliers,None,None,None,None,None
buyer,MUNICIPIO DE CHONE,HOSPITAL BASICO ALAUSI,MUNICIPIO DE CALVAS,GOBIERNO AUTONOMO DESCENTRALIZADO MUNICIPAL D...,EMPRESA ELECTRICA AMBATO REGIONAL CENTRO NORT...
amount,245451.127300,4267.150000,0.000000,1600512.880000,73374.610000
budget,248932.44,9448.29,23377.99,1600512.88,73374.61

### Missing Values

In [4]:
(df
 .isna()
 .groupby(df.year)
 .mean()
 .style
 .format(lambda n:'{:.4f}'.format(n*100))
)

In [9]:
(df
 .isna()
 .groupby(df.region)
 .mean()
 .style
 .format(lambda n:'{:.2f}'.format(n*100))
)

In [6]:
(df
 .
)

 PICHINCHA                         285951
 GUAYAS                            211010
 MANABI                            113174
 AZUAY                             102735
 EL ORO                             71643
 LOJA                               69965
 CHIMBORAZO                         64349
 TUNGURAHUA                         63882
 IMBABURA                           56615
 MORONA SANTIAGO                    49250
 LOS RIOS                           47952
 CAÑAR                              42923
 COTOPAXI                           42388
 ESMERALDAS                         38877
 SUCUMBIOS                          35392
 ZAMORA CHINCHIPE                   34927
 ORELLANA                           32048
 SANTA ELENA                        31771
 PASTAZA                            28962
 CARCHI                             28956
 NAPO                               28241
 SANTO DOMINGO DE LOS TSACHILAS     26556
 BOLIVAR                            23557
 None                               21001
 GALAPAGOS                           9818
 2021-09-22T00:00:00-05:00              3
 2022-09-03T09:21:08-05:00              3
 2018-03-26T00:00:00-05:00              3
 2021-03-04T00:00:00-05:00              3
 2020-12-01T00:00:00-05:00              2
 2018-05-07T00:00:00-05:00              2
 2020-10-27T00:00:00-05:00              2
 2020-09-08T00:00:00-05:00              2
 2017-07-18T00:00:00-05:00              2
 2022-07-30T08:23:47-05:00              2
 2022-07-11T00:00:00-05:00              2
 2017-11-15T00:00:00-05:00              2
 2017-05-24T00:00:00-05:00              2
 2019-10-01T00:00:00-05:00              2
 2022-07-26T08:12:04-05:00              1
 2020-07-17T00:00:00-05:00              1
 2020-03-23T00:00:00-05:00              1
 2017-06-08T00:00:00-05:00              1
 2019-12-03T00:00:00-05:00              1
 2019-02-07T00:00:00-05:00              1
 2018-03-28T00:00:00-05:00              1
 2018-05-03T00:00:00-05:00              1
 2018-11-15T00:00:00-05:00              1
 2017-10-26T00:00:00-05:00              1
 2017-10-10T00:00:00-05:00              1
 2017-10-11T00:00:00-05:00              1
 2017-09-28T00:00:00-05:00              1
 2017-02-20T00:00:00-05:00              1
 2016-10-03T00:00:00-05:00              1
 2022-08-23T09:03:30-05:00              1
Name: region, dtype: int64

### Memory

In [155]:
(df
 .memory_usage(deep=True)
 .apply(lambda s_: s_ / 1000000)
 .pipe(lambda df_: pd.concat([df_, df.dtypes], axis = 1))
 .rename(columns={0:'memory', 1:'dtype'})
)

                 memory   dtype
Index         12.495928     NaN
year          12.495928   int64
ocid         146.111533  object
date         129.644349  object
region       104.275575  object
title        139.833061  object
description  256.879964  object
method       103.584980  object
suppliers    153.588971  object
buyer        169.779263  object
amount       105.983935  object
budget        99.851350  object

### Numeric Types

In [ ]:
for size in ['float16', 'float32', 'float64']:
    print(f'{size:}{np.finfo(size)}')

### Non-Numeric Types

### Datetime Types

### Tweak Contrataciones

### Anomalies

#### Region column contains estranged values

In [22]:
(df
 .region
 .unique()
)

array([' CHIMBORAZO', ' PICHINCHA', ' None', ' GALAPAGOS', ' TUNGURAHUA',
       ' LOJA', ' CAÑAR', ' GUAYAS', ' ORELLANA', ' AZUAY', ' CARCHI',
       ' MANABI', ' SANTA ELENA', ' NAPO', ' IMBABURA', ' EL ORO',
       ' MORONA SANTIAGO', ' BOLIVAR', ' LOS RIOS', ' SUCUMBIOS',
       ' SANTO DOMINGO DE LOS TSACHILAS', ' COTOPAXI', ' PASTAZA',
       ' ESMERALDAS', ' ZAMORA CHINCHIPE', ' 2016-10-03T00:00:00-05:00',
       ' 2017-05-24T00:00:00-05:00', ' 2017-06-08T00:00:00-05:00',
       ' 2017-11-15T00:00:00-05:00', ' 2017-02-20T00:00:00-05:00',
       ' 2017-09-28T00:00:00-05:00', ' 2017-10-11T00:00:00-05:00',
       ' 2017-07-18T00:00:00-05:00', ' 2017-10-10T00:00:00-05:00',
       ' 2017-10-26T00:00:00-05:00', ' 2018-03-26T00:00:00-05:00',
       ' 2018-11-15T00:00:00-05:00', ' 2018-05-03T00:00:00-05:00',
       ' 2018-05-07T00:00:00-05:00', ' 2018-03-28T00:00:00-05:00',
       ' 2019-02-07T00:00:00-05:00', ' 2019-10-01T00:00:00-05:00',
       ' 2019-12-03T00:00:00-05:00', ' 2020-09-08T00:00:00-05:00',
       ' 2020-12-01T00:00:00-05:00', ' 2020-03-23T00:00:00-05:00',
       ' 2020-07-17T00:00:00-05:00', ' 2020-10-27T00:00:00-05:00',
       ' 2021-03-04T00:00:00-05:00', ' 2021-09-22T00:00:00-05:00',
       ' 2022-07-30T08:23:47-05:00', ' 2022-07-11T00:00:00-05:00',
       ' 2022-07-26T08:12:04-05:00', ' 2022-09-03T09:21:08-05:00',
       ' 2022-08-23T09:03:30-05:00'], dtype=object)

In [43]:
#
(df
 [~(df
    .region
    .str
    .contains('^\s\d\d?'))]
)

,year,ocid,date,region,title,description,method,suppliers,buyer,amount,budget
0,2016,ocds-5wno2w-CE-20160000536478-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536478,Orden de compra para adquirir los siguientes ...,direct,KRONOS LABORATORIOS C. LTDA.,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,504.000000,504
1,2016,ocds-5wno2w-CE-20160000536479-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536479,Orden de compra para adquirir los siguientes ...,direct,KRONOS LABORATORIOS C. LTDA.,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,376.000000,376
2,2016,ocds-5wno2w-CE-20160000536480-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536480,Orden de compra para adquirir los siguientes ...,direct,LABORATORIOS H.G. C.A.,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,516.000000,516
3,2016,ocds-5wno2w-CE-20160000536481-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536481,Orden de compra para adquirir los siguientes ...,direct,LABORATORIOS INDUSTRIALES FARMACEUTICOS ECUAT...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,136.000000,136
4,2016,ocds-5wno2w-CE-20160000536482-586277,2016-05-16T00:00:00-05:00,CHIMBORAZO,Orden de compra CE-20160000536482,Orden de compra para adquirir los siguientes ...,direct,LABORATORIOS INDUSTRIALES FARMACEUTICOS ECUAT...,DIRECCION DISTRITAL 06D03-CUMANDA-PALLATANGA-...,155.200000,155.2
...,...,...,...,...,...,...,...,...,...,...,...
1561986,2022,ocds-5wno2w-COTO-GADMCH-002-2022-43412,2022-07-21T08:26:55-05:00,MANABI,COTO-GADMCH-002-2022-43412,RECONSTRUCCION DEL PARQUE DEL PADRE Y CONSTRU...,open,None,MUNICIPIO DE CHONE,245451.127300,248932.44
1561987,2022,ocds-5wno2w-LICS-CZ3-HBA-001-202-121258,2022-06-24T07:29:04-05:00,CHIMBORAZO,LICS-CZ3-HBA-001-202-121258,CONTRATACIÓN DEL SERVICIO DE PÓLIZAS DE SEGUR...,open,None,HOSPITAL BASICO ALAUSI,4267.150000,9448.29
1561988,2022,ocds-5wno2w-RE1-RA-GADCC-004-202-45403,2022-06-09T07:08:43-05:00,LOJA,RE1-RA-GADCC-004-202-45403,ADQUISICION DE REPUESTOS MENORES PARA EL ARRE...,direct,None,MUNICIPIO DE CALVAS,0.000000,23377.99
1561989,2022,ocds-5wno2w-RE-CEP-GZAR-01-2022-31595,2022-07-15T08:34:31-05:00,EL ORO,RE-CEP-GZAR-01-2022-31595,TRABAJOS DE REMEDIACIÓN SUPERFICIAL Y DE GALE...,direct,None,GOBIERNO AUTONOMO DESCENTRALIZADO MUNICIPAL D...,1600512.880000,1600512.88
1561990,2022,ocds-5wno2w-RE-CSCD-EEASA-063-22-3233,2022-08-03T08:28:03-05:00,TUNGURAHUA,RE-CSCD-EEASA-063-22-3233,SERVICIOS DE COMUNICACIÓN Y DIFUSIÓN DEL ACCI...,direct,None,EMPRESA ELECTRICA AMBATO REGIONAL CENTRO NORT...,73374.610000,73374.61

In [24]:
len(' 2017-05-24T00:00:00-05:00')

26